<div class="content full-width">
    <div class="widget calculator accordion">
      <div class="widget table narrow full-width" style="width: 32%; display: inline-block; left: 18%; vertical-align: top">
        <table class="noborder" style="margin-bottom: 4px">
          <thead style="background: #636363">
            <th colspan="2" style="text-align: center">General Values</th>
          </thead>
          <tbody>
            <tr>
              <td width="40%">Funding Type</td>
              <td>
                <input type="radio" name="fundtype" id="ftCash" value="cash" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.selected" style="margin-right: .25rem">
                <label for="ftCash" style="margin-bottom: 0">Cash</label>
                <input type="radio" name="fundtype" id="ftFinanced" value="financed" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.selected" style="margin-left: .5rem">
                <label for="ftFinanced" style="margin-bottom: 0">Financed</label>
              </td>
            </tr>
            <tr>
              <td>List Price</td>
              <td style="font-size: 120%">{{propertyService.getListPrice() == 'Off Market' ? '' : '$'}}{{propertyService.getListPrice()}}</td>
            </tr>
            <!--tr>
              <td>Market Value</td>
              <td>
                <input type="radio" name="markettype" id="mtArv" value="arv" [(ngModel)]="propertyService.propertyCommon.market.type" style="margin-right: .25rem">
                <label for="mtArv" style="margin-bottom: 0">ARV</label>
                <input type="radio" name="markettype" id="mtAsIs" value="asIs" [(ngModel)]="propertyService.propertyCommon.market.type" style="margin-right: .25rem; margin-left: .5rem">
                <label for="mtAsIs" style="margin-bottom: 0">MA</label>
                <input type="radio" name="markettype" id="mtOther" value="other" [(ngModel)]="propertyService.propertyCommon.market.type" style="margin-right: .25rem; margin-left: .5rem">
                <label for="mtOther" style="margin-bottom: 0">Custom</label>
              </td>
            </tr>
            <tr>
              <td *ngIf="propertyService.propertyCommon.market.type == 'arv'">ARV Value</td>
              <td *ngIf="propertyService.propertyCommon.market.type == 'asIs'">MA Value</td>
              <td *ngIf="propertyService.propertyCommon.market.type == 'other'">Custom Value</td>
              <td style="font-size: 120%" *ngIf="propertyService.propertyCommon.market.type == 'arv'">$ {{propertyService.property.market.arv | number:'1.0-0'}}</td>
              <td style="font-size: 120%" *ngIf="propertyService.propertyCommon.market.type == 'asIs'">$ {{propertyService.property.market.asIs | number:'1.0-0'}}</td>
              <td style="padding: 0; font-size: 120%" *ngIf="propertyService.propertyCommon.market.type == 'other'">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyCommon.market.otherValue">
              </td>
            </tr-->
            <tr>
              <td>Rent Formula</td>
              <td>
                <input type="radio" name="renttype" id="renta" value="renta" style="margin-right: .25rem"
                    [ngModel]="propertyService.propertyRent.rent.type"
                    (ngModelChange)="propertyService.propertyRent.rent.type = 'renta'; propertyService.updatePropertyRentTotals()">
                <label for="renta" style="margin-bottom: 0">High</label>
                <input type="radio" name="renttype" id="rentb" value="rentb" style="margin-right: .25rem; margin-left: .5rem"
                    [ngModel]="propertyService.propertyRent.rent.type"
                    (ngModelChange)="propertyService.propertyRent.rent.type = 'rentb'; propertyService.updatePropertyRentTotals()">
                <label for="rentb" style="margin-bottom: 0">Low</label>
                <input type="radio" name="renttype" id="rentother" value="other" style="margin-right: .25rem; margin-left: .5rem"
                    [ngModel]="propertyService.propertyRent.rent.type"
                    (ngModelChange)="propertyService.propertyRent.rent.type = 'other'; propertyService.updatePropertyRentTotals()">
                <label for="rentother" style="margin-bottom: 0">Custom</label>
              </td>
            </tr>
            <tr>
              <td>Monthly Rent</td>
              <td style="font-size: 120%" *ngIf="propertyService.propertyRent.rent.type != 'other'">$ {{propertyService.propertyRent.rent.value | number:'1.0-0'}}</td>
              <td style="padding: 0; font-size: 120%" *ngIf="propertyService.propertyRent.rent.type == 'other'">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.rent.otherValue">
              </td>
            </tr>
            <tr>
              <td>Repair Source</td>
              <td>
                <input type="radio" name="repairremodel" id="rrHit" value="rrHit" [(ngModel)]="propertyService.propertyRentData.repairRemodelType" style="margin-right: .25rem">
                <label for="rrHit" style="margin-bottom: 0">Repair Calculator</label>
                <input type="radio" name="repairremodel" id="rrCustom" value="rrCustom" [(ngModel)]="propertyService.propertyRentData.repairRemodelType" style="margin-right: .25rem; margin-left: .5rem">
                <label for="rrCustom" style="margin-bottom: 0">Custom</label>
              </td>
            </tr>
            <tr>
              <td>Repair Cost</td>
              <td style="padding-bottom: 0; font-size: 120%" *ngIf="propertyService.propertyRentData.repairRemodelType == 'rrHit'">
                $ {{propertyService.propertyRentData.repairTotal | number:'1.0-0'}}
                <a style="color: #767a82; cursor: pointer" (click)="tabsetService.select('property-tabs', 'tab-repairs')"><span style="float: right">Go to Repair Calc &#8594;</span></a>
              </td>
              <td style="padding: 0; font-size: 120%" *ngIf="propertyService.propertyRentData.repairRemodelType == 'rrCustom'">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRentData.repairRemodelCustomTotal">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="widget table narrow full-width" style="width: 32%; display: inline-block; left: 18%; vertical-align: top">
        <table class="noborder large-col2" style="margin-bottom: -27px" *ngIf="propertyService.propertyRent.purchaseClosingCost.selected == 'cash'">
          <thead style="background: #636363">
            <th colspan="2" style="text-align: center">Purchase Closing Costs: ${{propertyService.propertyRentData.purchaseClosingCostTotal | number:'1.0-0'}}</th>
          </thead>
          <tbody>
            <tr>
              <td width="40%">Title Policy Paid By</td>
              <td>
                <input type="radio" name="tpolicy" id="sellerPays" value="sellerPays" [ngModel]="titlePolicyParty" (click)="setTitlePolicy(false)" style="margin-right: .25rem">
                <label for="sellerPays" style="margin-bottom: 0">Seller</label>
                <input type="radio" name="tpolicy" id="buyerPays" value="buyerPays" [ngModel]="titlePolicyParty" (click)="setTitlePolicy(true)" style="margin-left: .5rem">
                <label for="buyerPays" style="margin-bottom: 0">Buyer</label>
              </td>
            </tr>
            <tr *ngIf="propertyService.propertyRent.purchaseClosingCost.buyerPays">
              <td>Title Policy</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.cash.titlePolicy">
              </td>
            </tr>
            <tr>
              <td>Title Company Fees</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.cash.titleCompanyFees">
              </td>
            </tr>
            <tr>
              <td>Title Company Escrow</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.cash.titleCompanyEscrowFees">
              </td>
            </tr>
            <tr>
              <td>Insurance</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.cash.insurance">
              </td>
            </tr>
            <tr>
              <td>Survey</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.cash.survey">
              </td>
            </tr>
          </tbody>
        </table>
        <table class="noborder large-col2" style="margin-bottom: -157px" *ngIf="propertyService.propertyRent.purchaseClosingCost.selected == 'financed'">
          <thead style="background: #636363">
            <th colspan="2" style="text-align: center">Purchase Closing Costs: ${{propertyService.propertyRentData.purchaseClosingCostTotal | number:'1.0-0'}}</th>
          </thead>
          <tbody>
            <tr>
              <td width="40%">Title Policy Paid By</td>
              <td>
                <input type="radio" name="tpolicy" id="sellerPays" value="sellerPays" [ngModel]="titlePolicyParty" (click)="setTitlePolicy(false)" style="margin-right: .25rem">
                <label for="sellerPays" style="margin-bottom: 0">Seller</label>
                <input type="radio" name="tpolicy" id="buyerPays" value="buyerPays" [ngModel]="titlePolicyParty" (click)="setTitlePolicy(true)" style="margin-left: .5rem">
                <label for="buyerPays" style="margin-bottom: 0">Buyer</label>
              </td>
            </tr>
            <tr *ngIf="propertyService.propertyRent.purchaseClosingCost.buyerPays">
              <td>Title Policy</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.financed.titlePolicy">
              </td>
            </tr>
            <tr>
              <td>Title Company Fees</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.financed.titleCompanyFees">
              </td>
            </tr>
            <tr>
              <td>Title Company Escrow</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.financed.titleCompanyEscrowFees">
              </td>
            </tr>
            <tr>
              <td>Insurance</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.financed.insurance">
              </td>
            </tr>
            <tr>
              <td>Survey</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.financed.survey">
              </td>
            </tr>
            <tr>
              <td>Loan Origination</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.purchaseClosingCost.financed.loanOrigination">
              </td>
            </tr>
            <tr>
              <td>Down Payment %</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 71%; top: 7px">%</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" min="0" max="100" step="0.5"
                    [ngModel]="decimalToPercent(propertyService.propertyRent.purchaseClosingCost.financed.loanDownPaymentFraction)"
                    (ngModelChange)="propertyService.propertyRent.purchaseClosingCost.financed.loanDownPaymentFraction = $event / 100">
              </td>
            </tr>
            <tr>
              <td>Down Payment Amount</td>
              <td>$ {{getLoanDownPaymentDollars() | number:'1.0-0'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="widget table narrow full-width" style="width: 32%; display: inline-block; left: 18%; vertical-align: top">
        <table class="noborder large-col2" style="margin-bottom: -193px">
          <thead style="background: #636363">
            <th colspan="2" style="text-align: center">Monthly Expenses: ${{propertyService.propertyRentData.expensesSubtotal | number:'1.0-0'}}</th>
          </thead>
          <tbody>
            <tr>
              <td>Real Estate Taxes</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.expenses.realEstateTaxes">
                <span style="position: absolute; left: 60%; top: 7px">/ mo</span>
              </td>
            </tr>
            <tr>
              <td>Insurance</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.expenses.insurance">
                <span style="position: absolute; left: 60%; top: 7px">/ mo</span>
              </td>
            </tr>
            <tr *ngIf="propertyService.getCurrentProperty().mls?.hoaFee">
              <td>HOA Fee</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.expenses.hoa">
                <span style="position: absolute; left: 60%; top: 7px">/ mo</span>
              </td>
            </tr>
            <tr>
              <td>Vacancy Rate %</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 71%; top: 7px">%</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" min="0" max="100" step="0.5"
                    [ngModel]="decimalToPercent(propertyService.propertyRent.expenses.vacancyRatePercent)"
                    (ngModelChange)="propertyService.propertyRent.expenses.vacancyRatePercent = $event / 100.0">
              </td>
            </tr>
            <tr>
              <td>Vacancy Rate</td>
              <td>$ {{propertyService.propertyRentData.expenses.vacancyRate | number:'1.0-0'}} / mo</td>
            </tr>
            <tr>
              <td>Maintenance %</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 71%; top: 7px">%</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" min="0" max="100" step="0.5"
                    [ngModel]="decimalToPercent(propertyService.propertyRent.expenses.maintenancePercent)"
                    (ngModelChange)="propertyService.propertyRent.expenses.maintenancePercent = $event / 100.0">
              </td>
            </tr>
            <tr>
              <td>Maintenance Fees</td>
              <td>$ {{propertyService.propertyRentData.expenses.maintenance | number:'1.0-0'}} / mo</td>
            </tr>
            <tr>
              <td>Management %</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 71%; top: 7px">%</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" min="0" max="100" step="0.5"
                    [ngModel]="decimalToPercent(propertyService.propertyRent.expenses.managementPercent)"
                    (ngModelChange)="propertyService.propertyRent.expenses.managementPercent = $event / 100.0">
              </td>
            </tr>
            <tr>
              <td>Management Fee</td>
              <td>$ {{propertyService.propertyRentData.expenses.management | number:'1.0-0'}} / mo</td>
            </tr>
            <tr *ngIf="propertyService.propertyRent.purchaseClosingCost.selected == 'financed'">
              <td>Mortgage Payment</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.expenses.mortgage.otherValue">
                <span style="position: absolute; left: 60%; top: 7px">/ mo</span>
              </td>
            </tr>
            <tr>
              <td>Other</td>
              <td style="padding: 0">
                <span style="position: absolute; left: 8px; top: 7px">$</span>
                <input type="number" style="font-size: 100%; padding: 0.55rem 1.5rem" [(ngModel)]="propertyService.propertyRent.expenses.other">
                <span style="position: absolute; left: 60%; top: 7px">/ mo</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="widget table narrow full-width" style="width: 32%; display: inline-block; left: 18%; vertical-align: top">
        <table class="noborder large-col1 large-col2">
          <thead>
            <th colspan="2" style="text-align: center">ROI and Bid</th>
          </thead>
          <tbody>
            <tr>
              <td width="40%">Annual Expenses</td>
              <td>$ {{(propertyService.propertyRentData.expensesSubtotal * 12) | number:'1.0-0'}}</td>
            </tr>
            <tr>
              <td>ROI ({{propertyService.propertyRentData.roiFormatted}})</td>
              <td style="padding: 0">
                <input type="range" min="0" max="100" step="0.5" class="slider ng-dirty" style="margin-top: 9px; margin-left: 10%; width: 80%"
                    [ngModel]="propertyService.propertyRentData.roiSliderPercent"
                    (input)="handleChangeProfitSlider($event)"
                    (change)="handleFixProfitSlider($event)">
              </td>
            </tr>
            <tr>
              <td>Monthly Net Income</td>
              <td>$ {{propertyService.propertyRent.income.net | number:'1.0-0'}}</td>
            </tr>
            <tr>
              <td>Annual Net Income</td>
              <td>$ {{(propertyService.propertyRent.income.net * 12) | number:'1.0-0'}}</td>
            </tr>
            <tr>
              <td>Starting Bid</td>
              <td>$ {{propertyService.propertyRentData.startingBid | number:'1.0-0'}}</td>
            </tr>
            <tr>
              <td>Max Bid</td>
              <td>$ {{propertyService.propertyRentData.maxBid | number:'1.0-0'}}</td>
            </tr>
            <tr>
              <td style="color: white"><a class="button make-offer small flat clickable" (click)="saveHoldRevision()">{{saving ? 'Saving..' : saved ? 'Saved' : 'Save'}}</a></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
                                    <!--div class="value" *ngIf="propertyService.propertyRentData.warnHighBid">
                                        <span class="currency calctooltip" style="border-bottom-color: white">
                                          &#9888;
                                          <span class="calctooltiptext">
                                            The Annual ROI ({{propertyService.propertyRentData.roiFormatted}}) that you have selected is low, causing the displayed Top Bid
                                            to be higher than the selected Market Value (${{propertyService.propertyRentData.marketPriceSelectedValue | number:'1.0-0'}}) of this property.
                                            <br><br>
                                            Try increasing the Annual ROI using the slider above, until the Top Bid reaches a more reasonable price.
                                          </span>
                                        </span>
                                        <span class="value"></span>
                                    </div-->
    <!-- Revisions -->
    <div class="widget revisions" *ngIf="propertyService.propertyRentRevisions.length > 0">
        <ngb-accordion class="group">
            <ngb-panel>
                <template ngbPanelTitle>
                    <header style="opacity: .5">
                        <div class="label">
                            <h2>Calculator Revisions</h2>
                        </div>
                    </header>
                </template>
                <template ngbPanelContent>
                    <article>
                        <ol>
                            <li *ngFor="let revision of propertyService.propertyRentRevisions">
                                <p class="revision-author">{{revision.author}}</p>
                                <p class="revision-time">{{formatTime(revision.time)}}</p>
                                <div class="revision-data">
                                    <ul>
                                        <li *ngFor="let rev of revision.revisions">{{propertyService.renderRevision(rev, 'rent')}}</li>
                                    </ul>
                                </div>
                                <div class="actions">
                                    <a (click)="revertRevision(revision)" class="button">Revert Changes</a>
                                </div>
                            </li>
                        </ol>
                    </article>
                </template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <!-- /Revisions -->
</div>
