<div #template>
  <ng-content></ng-content>
</div>
<ul class="ng2-pagination"
    role="navigation"
    aria-label="Pagination"
    *ngIf="!hasTemplate && !(autoHide && pages.length <= 1)">

  <li class="pagination-previous" [class.disabled]="isFirstPage()" *ngIf="directionLinks">
    <a *ngIf="1 < getCurrent()" (click)="previous()" aria-label="Next page">
      Previous <span class="show-for-sr">page</span>
    </a>
    <span *ngIf="isFirstPage()">Previous <span class="show-for-sr">page</span></span>
  </li>

  <li [class.current]="getCurrent() === page.value" *ngFor="let page of pages">
    <a (click)="setCurrent(page.value)" *ngIf="getCurrent() !== page.value">
      <span class="show-for-sr">Page</span>
      <span>{{ page.label }}</span>
    </a>
    <div *ngIf="getCurrent() === page.value">
      <span class="show-for-sr">You're on page</span>
      <span>{{ page.label }}</span>
    </div>
  </li>

  <li class="pagination-next" [class.disabled]="isLastPage()" *ngIf="directionLinks">
    <a *ngIf="!isLastPage()" (click)="next()" aria-label="Next page">
      Next <span class="show-for-sr">page</span>
    </a>
    <span *ngIf="isLastPage()">Next <span class="show-for-sr">page</span></span>
  </li>
</ul>
