<!-- Promo -->
<div id="hero">
  <div class="container">
  </div>
</div>
<!-- /Promo -->
<!-- Main -->
<div id="main" class="section-main">
  <div class="container">
    <!-- Main content -->
    <div class="main-content" role="main">
      <div class="widget login">
        <header>
          <h2>Change Password</h2>
        </header>
        <div class="form">
          <form #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="message error" [hidden]="!showError">
              <p>Your reset code was not recognized; it may have expired. Please re-request a password reset to continue with this process.</p>
            </div>
            <div class="message success" [hidden]="!showSuccess">
              <p>Password changed successfully. You may now log in.</p>
              <a class="button" style="margin-top: 1rem" [routerLink]="['/login']">Log in</a>
            </div>
            <fieldset *ngIf="!showSuccess">
              <div class="group">
                <label for="code">Reset code</label>
                <input type="text" [(ngModel)]="authService.reset.code" name="code" placeholder="Code" required />
              </div>
              <div class="group">
                <label for="password">New password</label>
                <input type="password" [(ngModel)]="authService.reset.password" name="password" placeholder="New password" required>
              </div>
              <div class="group">
                <label for="password_repeat">Repeat new password</label>
                <input type="password" [(ngModel)]="authService.reset.confirmpassword" name="password_repeat" placeholder="Repeat new password" required>
                <p class="description">Please enter your new password twice for confirmation.<br>From now on you will log in with your new password.</p>
              </div>
              <div class="group button-group">
                <input type="submit" class="button large" value="Reset Password" [disabled]="!f.valid" />
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <!-- /Main content -->
  </div>
</div>
<!-- /Main -->
